.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:45px;
    padding: 130px 10px 10px 10px;

  }

  .flex-container > div {
    background-color: #131367;
    opacity: 0.8;
    width: 90px;
    height: 90px;
    margin: 10px;
    padding-top:10px;
    border-radius: 50%;
    text-align: center;
    /* line-height: 75px; */
    font-size: 20px;
  }
  .fal{
      color: #ccc;
      font-size: 30px;
  }
  .numb{
      background-color: #fff;
      color: #000;
      font-weight: bolder;
      height:20px;
      width: 20px;
      text-align: center;
      border-radius: 50%;
      margin: 0 auto;
  }
  button{
      background-color: transparent;
      border:0;
  }
  .forma{
    margin-top: 0;
    margin-top: 0;
    color: #ccc;
    background-color: rgba(0,0,0, 0.5);
    width: 90%;
    position: fixed;
    top: 10%;
    left: 5%;
    border-radius: 10px;
    padding: 15px;
}
@media only screen and (max-width: 767px) {
    
     .forma{
        margin-top: 0;
        color: #ccc;
        background-color: rgba(0,0,0, 0.5);
        width: 96%;
        position: fixed;
        top: 10%;
        left: 2%;
        border-radius: 10px;
        padding: 15px;
     }
 }